*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}
body{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.container{
    margin-top: 5em;
    text-align: center;
    background-color: beige;
    width: max-content;
    padding: 4em 1em;
    border-radius: 5em;
    
}
.before{
    display: grid;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.before,button{
    margin-top: 1em;
    width: auto;
}

 .after{
    background-color: beige;
    display: grid;
    grid-template-columns: 20em;
    grid-template-rows: repeat(7,3em);
    border: 2px solid black;
    justify-content: center;
    justify-items: center;
    row-gap: 2em;
    font-weight: bold;
    list-style: none;
    
} 
.after,input{
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    border: none;
}
.after,button{
    cursor: pointer;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    border: none;

} 
.hidden{
    visibility: hidden;
}
